h1{
	color: green;
	padding: 10px 5px 5px 5px;
	border: 10px dotted red;
	width: 50%;
	height: 50%;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	margin: 20px auto;
}
.bdcricketTeam img{
			text-align: center;
			width: 100%;
		}

		.about{
			margin: 5px 10px;
			font-weight: bold;
			font-family: Arial, Helvetica, sans-serif;
		}
